.text-center{
    border: 1px solid green ;
    margin-left: 60px;
    position: relative;
    left: 50px;
    margin: 15px;
    padding: 15px;
   background-color: olivedrab;
   color: black;
   display: flex;
  
}